<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>
<a href="/home/hello"> go to hello</a><br>
<%= link_to('link to hello page',{controller:'home',action:'hello', city:'bengaluru'}) %>
<%= 1 + 1 %>
<% a= 1 + 1 %>
<%= a %>
<% a="hello" %>
<%= a %>
<% b= "geetha" %>
<br>
<br>
<%= "hi, #{a} #{b}" %>
<%= @name %>
